span{
    color: red;
}
body { 
    font-family: Arial; 
    padding: 20px; 
}
label { 
    display: block; 
    margin-top: 15px;
 }
    p { 
        color: red; 
        margin: 5px 0 0 0; 
        font-size: 14px; }
    #statsPanel { 
            margin-top: 20px; 
            padding: 15px; 
            border: 1px solid #333; 
            display: none;
     }
    button { 
            margin-top: 20px;
            padding: 10px;
            background-color: cadetblue;
            border-radius: 10px;
            border-color: aliceblue;
            color: aliceblue;
        
        }
    .design{
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        padding: 20px;
        border-radius: 10px;
    }
   